/**
 * Variáveis e estilos globais do projeto
 */


/**
 * Cores principais
 */
$primary-color: #8cbfaf;
$secondary-color: #ede7d5;
$tertiary-color: #7b8a84;
$quaternary-color: #545454;

$body-color: #f3f4f8;

/**
 * Sugestões de cores
 */
$danger: #ff4d4f;
$warning: #ffc107;
$info: #17a2b8;
$success: #28a745;

/**
 * Fontes
 */
$global-font-family: 'Inter', sans-serif;
