@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './assets/vars';
@import './assets/card';

/* Estilizações globais */

/**
 * Estilizações mínimas para o corpo
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: $quaternary-color;
    letter-spacing: 0.5px;
}

.content-body {
    display: flex;
    overflow: hidden;
    font-family: $global-font-family;
    background-color: $body-color;

    > app-sidebar {
        height: 100vh;
    }
}

/**
 * Textos
 */
span {
    font-family: $global-font-family;
}

p {
    font-family: $global-font-family;
    font-weight: 300;
}

/**
 * Títulos
 */
h1 {
    font-family: $global-font-family;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    font-family: $global-font-family;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    font-family: $global-font-family;
    font-weight: 400;
    letter-spacing: 1px;
}

h4 {
    font-family: $global-font-family;
}

h5 {
    font-family: $global-font-family;
    font-weight: 400;
    letter-spacing: 1px;
}

h6 {
    font-family: $global-font-family;
}

/**
 * Botões
 */
button {
    font-family: $global-font-family;   

    &.btn-primary {
        background-color: $primary-color;
        color: $secondary-color;
        border: 1px solid $primary-color;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            background-color: $tertiary-color;
            border-color: $tertiary-color;
        }
    }

    &.btn-secondary {
        background-color: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }

    &.action-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        max-height: 2.5rem;
        margin: auto 1rem;
        color: $primary-color;

        &:hover {
            color: $tertiary-color;
        }
    }
}

@media (max-width: 900px) {
    .content-body {
        flex-direction: column;
        overflow: visible;
    }

    .content-body > app-sidebar {
        height: auto;
    }

    .content {
        height: auto;
        min-height: calc(100vh - 56px);
        overflow: visible;
    }
}
